@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.5rem;
  text-transform: uppercase;

  /* color: #40e0d0; */
}

.other,
.where {
  font-size: 1.6rem !important;
  background-color: #457b9d !important;
  color: #f0f0f0;
  width: 75%;
  border: none;
  transition: all 0.7s;
}

.other:hover,
.where:hover {
  background-color: #35617d !important;
}

/******************/

.displayContainer {
  margin-top: 15rem;
}

.inputContainer {
  margin-top: 5rem;
}

.adressText {
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
}

/******************/

.h3 {
  font-size: 2rem;
  color: #f5f5dc !important;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.location {
  background-color: #457b9d !important;
  border: none;
  transition: all 0.7s;
}

.location:hover {
  background-color: #35617d !important;
}

.card-body {
  padding: 1rem !important;
}

.card-title {
  font-size: 2.2rem;
  margin: 1rem 0;
}

.card-list {
  font-size: 1.6rem;
}

.card-list i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.card-list li .fa-person {
  margin-right: 1.6rem;
}
